.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#canvas-container {
  height: 100%;
  filter: blur(10px) saturate(1.1);
}

#canvas-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  pointer-events: none;
}

.title_pieces {
  font-family:  Helvetica, sans-serif;
  font-size: 320pt;
  position: absolute;
  line-height:normal;
}

#sketch {
  filter: blur(5.1px);
  top: -5%;
  left: 20%;
  z-index: 5;
}

#night {
  filter: blur(3.1px);
  top: 22%;
  left: 20%;

}
#at_the {
  filter: blur(1px);
  font-size: 60pt ;
  top: 58%;
  left: 21%;
}

#society {
  top: 53%;
  left: 20%;

}


.event_item {
  position: absolute;
  filter: blur(5px);
  transform: translate(-50%, 0%);
  width: 400px;
  color: black

}

.event_item h1 {
  font-size: 15pt;
  margin: 0px;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;

}
.event_item h2 {
  text-align: left;
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 800;

}
.event_item:hover {
  cursor: pointer;
  filter: blur(1px);
}

.ui.dimmer {
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.271) !important;
}


#inner_shadow{
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  box-shadow: inset 0 0 200px white;
  z-index: 10;
}

.slider_container {
  pointer-events: auto;
}

.tick_modal >* {
  font-family: 'Helvetica Neue', sans-serif;
}

.tick_modal h1 {
  font-weight: 100;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50pt;
  line-height: 40pt;
  text-transform: uppercase;
  margin: 0px;
}